In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
file=pd.read_csv("D:\Acmegrade\Files\Employee.csv")
file

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [4]:
x=file.iloc[:,:-1].values
y=file.iloc[:,-1].values
x

array([['Bachelors', 2017, 'Bangalore', ..., 'Male', 'No', 0],
       ['Bachelors', 2013, 'Pune', ..., 'Female', 'No', 3],
       ['Bachelors', 2014, 'New Delhi', ..., 'Female', 'No', 2],
       ...,
       ['Masters', 2018, 'New Delhi', ..., 'Male', 'No', 5],
       ['Bachelors', 2012, 'Bangalore', ..., 'Male', 'Yes', 2],
       ['Bachelors', 2015, 'Bangalore', ..., 'Male', 'Yes', 4]],
      dtype=object)

In [6]:
y

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [7]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [9]:
le=LabelEncoder()
x[:,0]=le.fit_transform(x[:,0])

array([[0, 2017, 'Bangalore', ..., 'Male', 'No', 0],
       [0, 2013, 'Pune', ..., 'Female', 'No', 3],
       [0, 2014, 'New Delhi', ..., 'Female', 'No', 2],
       ...,
       [1, 2018, 'New Delhi', ..., 'Male', 'No', 5],
       [0, 2012, 'Bangalore', ..., 'Male', 'Yes', 2],
       [0, 2015, 'Bangalore', ..., 'Male', 'Yes', 4]], dtype=object)

In [10]:
x[:,2]=le.fit_transform(x[:,2])
x[:,5]=le.fit_transform(x[:,5])
x[:,6]=le.fit_transform(x[:,6])
x

array([[0, 2017, 0, ..., 1, 0, 0],
       [0, 2013, 2, ..., 0, 0, 3],
       [0, 2014, 1, ..., 0, 0, 2],
       ...,
       [1, 2018, 1, ..., 1, 0, 5],
       [0, 2012, 0, ..., 1, 1, 2],
       [0, 2015, 0, ..., 1, 1, 4]], dtype=object)

In [11]:
ct=ColumnTransformer(transformers=[("onehot",OneHotEncoder(),[0,2,5,6])],remainder="passthrough")
x=ct.fit_transform(x)

In [14]:
print(pd.DataFrame(x))

       0    1    2    3    4    5    6    7    8    9     10 11  12 13
0     1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  2017  3  34  0
1     1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  0.0  2013  1  28  3
2     1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  2014  3  38  2
3     0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  2016  3  27  5
4     0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  2017  3  24  2
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ... ..  .. ..
4648  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  2013  3  26  4
4649  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  0.0  2013  2  37  2
4650  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  2018  3  27  5
4651  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  2012  3  30  2
4652  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  2015  3  33  4

[4653 rows x 14 columns]

In [15]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(3722, 14) (931, 14) (3722,) (931,)

In [31]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [32]:
gnb.fit(x_train,y_train)

GaussianNB()

In [34]:
a=gnb.predict(x)
a

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score as asc
acc=asc(y,a)
acc

0.6991188480550182

In [23]:
from sklearn.naive_bayes import BernoulliNB
bnb=BernoulliNB()

In [24]:
bnb.fit(x_train,y_train)

BernoulliNB()

In [36]:
b=bnb.predict(x)
b

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
acc=asc(y,b)
acc

0.7309262841177735

In [40]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x_train,y_train)

MultinomialNB()

In [41]:
c=mnb.predict(x)
c

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
acc=asc(y,c)
acc

0.7365140769396089